footer{
    position: relative;
    width: 100%;
    max-width: 9990px;
    margin: auto;
    height: auto;
    color: #fff;
}
.footergrid{
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 50px;
}
.footerimglogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 0; 
}
.footerimglogo img{
    display: block;
    margin: auto;
    width: 308px;
}
.footerimglogo ul{
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 200px;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}
.footerimglogo ul li img{
    max-width: 50px;
}
.footerimglogo ul a svg{
  fill: #030606;
}
.footerimglogo ul a svg circle{
  fill: #F4C977;
}
.footerimglogo ul a:hover svg{
  fill: #000;
  transition: 0.2s ease-in-out;
}
.footerimglogo ul a:hover svg circle{
  fill: #fff;
  transition: 0.2s ease-in-out;
}
.footermenu{
    display: flex;
    justify-content: space-between;
    width: auto;
    column-gap: 32px;
}
.footernav{
    display: flex;
    width: 100%;
    max-width: 1440px;
    white-space: nowrap;
    margin-right: 30px;
}
.footernav ul, .address ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}
.footernav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.footernav ul li a:hover, .address a:hover {
    color: #FFDE2E;
    transition: 0.2s;
}
.address{
    width: 100%;
    white-space: nowrap;
}
.address ul{    
    height: 125px;
}
.opentime ul{height: 175px;}
.address ul li {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
}
.footerinfos{
    width: 100%;
    white-space: nowrap;
}
.footerinfos ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px;
}
.footerinfos ul a{
    list-style: none;
    text-decoration: none;
    margin-top: 8px;
    color: #F4C977;
}
.rights{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    max-width: 9990px;
    margin: auto;
    padding: 50px 90px;
    align-items: center;
    text-align: center;    
    border-top: 1px solid #F4C977;
}
.rights ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.rights ul li a{
    color: #fff;
}
.rights p, .rights ul li{
    color: #fff;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 150%;
}
.footerimglogo2{display:none;}
@media screen and (max-width: 870px) {
    .footergrid{
        flex-direction: column;
        padding: 10px;
    }
    .footerimglogo img{
        margin-top: 20px;
    }
    .footerimglogo ul{
        margin-top: 20px;
    }
    .footermenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin: auto;
        text-align: center;
        margin-top: 36px;
        padding-bottom: 40px;
    }
    .footernav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin: auto;
        text-align: center;
        margin-bottom: 36px;
    }
    .address {
        margin-top: 36px;
    }
    .address ul li{
        display: block;
        text-align: center;
    }
    .rights{
        flex-direction: column;
        padding: 40px 10px;
    }
    .rights p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}